<!--===========Nav Bar=================-->
<section class="nav-bar">
    <div class="logo">
        <a class="nav-link" href="/">
            Wanderlust
        </a>
    </div>
    <ul class="menu">
        <li><a href="/">home</a></li>
        <li><a href="/listings/">Places</a></li>
        <li><a href="/listings/new">Add new</a></li>
        <% if(!currUser) {%>
            <li>
                <a class="nav-link " href="/signup">
                    <b>Sign up</b>
                </a>
            </li>
            <li>
                <a class="nav-link" href="/login">
                    <b>Login</b>
                </a>
            </li>
          <% } else { %>
            <li>
                <a class="nav-link" href="/logout">
                    <b>Logout</b>
                </a>
            </li>
          <% } %>
    </ul>
    </div>

</section>